.virtuoso div,.virtuoso span,.virtuoso h1,.virtuoso h2,.virtuoso h3,.virtuoso h4,.virtuoso h5,.virtuoso h6,.virtuoso p,.virtuoso blockquote,.virtuoso pre,.virtuoso a,.virtuoso abbr,.virtuoso acronym,.virtuoso address,.virtuoso big,.virtuoso cite,.virtuoso code,.virtuoso del,.virtuoso dfn,.virtuoso em,.virtuoso img,.virtuoso ins,.virtuoso kbd,.virtuoso q,.virtuoso s,.virtuoso samp,.virtuoso small,.virtuoso strike,.virtuoso strong,.virtuoso sub,.virtuoso sup,.virtuoso tt,.virtuoso var,.virtuoso dl,.virtuoso dt,.virtuoso dd,.virtuoso ol,.virtuoso ul,.virtuoso li,.virtuoso fieldset,.virtuoso form,.virtuoso label,.virtuoso legend,.virtuoso table,.virtuoso caption,.virtuoso tbody,.virtuoso tfoot,.virtuoso thead,.virtuoso tr,.virtuoso th,.virtuoso td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-decoration:none;}
body.virtuoso{margin:2em 0;padding:0;outline:0;font:normal normal 100.01%/130% Georgia,"Times New Roman",Times,serif;color:#FFF;background:#222 url(images/wallpaper.jpg) fixed;}
.virtuoso a:link{color:#2860b6;}
.virtuoso a:visited{color:#0073E4;}
.virtuoso a:hover{color:#1ea1fd;border-bottom:1px dotted #0058DF;}
.virtuoso a:active{color:#1a6dea;border-bottom:1px solid #0058DF;}
.virtuoso img{color:#1d7ffc;max-width:100%;}
.virtuoso strong{font-weight:bold;}
.virtuoso q,.virtuoso cite,.virtuoso em,.virtuoso var{font-style:italic;}
.virtuoso big{font-size:1.3em;}
.virtuoso small{font-size:0.85em;color:#7f7f7f;}
.virtuoso abbr,.virtuoso dfn,.virtuoso acronym{border-bottom:1px dotted #999;}
.virtuoso ins{background-color:#CCFFCC;border:1px solid #99cc99;}
.virtuoso del{background-color:#fdcccc;color:#000;border:1px solid #cc9999;text-decoration:line-through;}
.virtuoso strike{text-decoration:line-through;}
.virtuoso sup,.virtuoso sub{font-size:90%;margin-left:0.1em;font-weight:normal;font-style:normal;}
.virtuoso sub{vertical-align:sub;}
.virtuoso sup{vertical-align:super;}
.virtuoso samp,.virtuoso kbd,.virtuoso code{font-family:Monaco,"Lucida Console",monospace;border-bottom:1px solid #bebebe;background-color:#f5f5f5;padding:1px 2px;overflow:auto;}
.virtuoso kbd{background:url(images/keyboard.png) 2px center no-repeat;padding-left:20px;}
.virtuoso pre{margin:0.5em 0;padding:1em 1.5em;font-family:Monaco,"Lucida Console",monospace;overflow:auto;background-color:#f9f9f9;font-size:95%;border:1px solid #eee;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;_white-space:pre;}
.virtuoso pre code{display:block;padding:0;border:0;background-color:#fcfcfc;}
.virtuoso code,.virtuoso pre{font-size:95%;font-family:"LuxiMono","Bitstream Vera Sans Mono","Monaco","Courier New",monospace;word-wrap:break-word;white-space:pre;white-space:pre-wrap;}
.virtuoso a code,.virtuoso ins code,.virtuoso del code{background:transparent;}
.virtuoso var{background-color:#fafafa;border-bottom:1px solid #e6e6e6;}
.virtuoso p{margin-bottom:0.7em;margin-top:0.7em;line-height:145%;background:transparent;}
.virtuoso h1,.virtuoso h2,.virtuoso h3,.virtuoso h4,.virtuoso h5,.virtuoso h6{line-height:130%;font-family:Arial,Helvetica,sans-serif;margin-top:0.6em;margin-bottom:0.4em;clear:both;}
.virtuoso h1{font-size:210%;color:#000;margin-top:0.5em;line-height:110%;}
.virtuoso h1 a:link{color:#000;}
.virtuoso h1 a:visited{color:#000;}
.virtuoso h1 a:hover{color:#222;border-bottom:1px dotted #ccc;}
.virtuoso h1 a:active{color:#555;border-bottom:1px solid #ccc;}
.virtuoso h2{color:#6A67FD;font-size:200%;}
.virtuoso h3{color:#0faf0e;font-size:180%;}
.virtuoso h4{color:#000;font-size:160%;}
.virtuoso h5{color:#fb1080;font-size:130%;}
.virtuoso h5 a{color:#fb1080;}
.virtuoso h6{font-weight:bold;font-size:115%;}
.virtuoso blockquote{margin:0.5em;color:#222;text-align:left;font-style:italic;border:1px solid #eee;background-color:#fff;padding:1em;}
.virtuoso blockquote cite{display:block;text-align:right;padding-bottom:5px;}
.virtuoso dl{margin:1em 0;padding:1em;background-color: #fafafa;}
.virtuoso dl dt{font-weight:bold;font-family:Arial,Helvetica,sans-serif;font-size:115%;margin-top:0.4em;}
.virtuoso ul,.virtuoso ol{margin-left:1em;list-style-position:outside;}
.virtuoso ul{list-style-image:url(images/b_black.png);}
.virtuoso ol,.virtuoso ol li{list-style-type:decimal;}
.virtuoso ol li,.virtuoso ul li{line-height:150%;margin-left:1em;}
.virtuoso ul,.virtuoso ul li{list-style-type:disc;}
.virtuoso hr{border:0;height:1px;background-color:transparent;margin:0.7em 0;border-top:3px solid #f2f2f2;clear:both;}
.virtuoso address{font-family:Arial,Helvetica,sans-serif;}
.virtuoso table{border-collapse:separate;border-spacing:0;margin:0.4em auto;font-family:Arial,Heletica,sans-serif;line-height:110%;min-width:50%;}
.virtuoso caption{color:#888;font-size:95%;font-weight:normal;margin:3px auto;text-align:center;}
.virtuoso table tr th{border:1px solid #fff;padding:6px 10px;text-align:center;color:#FFF;background-color:#1d7db1;font-family:Arial,Helvetica,sans-serif;font-size:115%;letter-spacing:0.1em;}
.virtuoso table tr td{border:1px solid #fff;padding:5px 10px;color:#000;background-color:#aed2e5;font-family:Georgia,"Times New Roman",Times,serif;}
.virtuoso th,.virtuoso td{text-align:left;font-weight:normal;}
table.status, table.status tr td,table.status tr th{border:0;}
table.status tr th{font-weight:bold;}
table.status tr:hover td{background-color:#bbe3f7;}
#tm_webpreview_content.virtuoso {color:#333;width: 90%;margin-left:auto;margin-right:auto;background-color:#fff;border:5px solid #1d7ffc;
	padding: 0.5em 1em;
}
.virtuoso .left{text-align:left;}
.virtuoso .fleft{float:left;}
.virtuoso .right{text-align:right;}
.virtuoso .fright{float:right;}